# Python
__pycache__/
*.pyc

# Jupyter Notebooks
.ipynb_checkpoints/

# Dataset
#data/raw/
data/processed/

# Ambiente virtuale
.venv

# YOLO model
YOLO_Face.h5
yolov3-wider_16000.weights
__MACOSX/

WIDER_val
data/training

wider_face_test_filelist.txt
wider_face_test.mat
wider_face_train_bbx_gt.txt
wider_face_val_bbx_gt.txt
wider_face_train.mat

build
opencv-3.4

experiments.ipynb