# Python
__pycache__/
*.pyc

# Jupyter Notebooks
.ipynb_checkpoints/

# Dataset
#data/raw/
data/processed/

# Ambiente virtuale
.venv

# YOLO model
YOLO_Face.h5
yolov3-wider_16000.weights
__MACOSX/

data/testing
data/training
WIDER_val/

wider_face_test_filelist.txt
wider_face_test.mat
wider_face_train_bbx_gt.txt
wider_face_val_bbx_gt.txt
wider_face_train.mat
